img {
  width: 30px;
  height: 30px;
}
/* The first bar under the header*/
.horizontal-bar {
  background-color: #DBF0FF;
  height: 140px;
  width: 100%;
}

/* Top navigation bar */
.topnav {
  text-align: center;
  position: fixed;
  width: 100%;

  overflow: hidden;
  background-color: #192a51;

  border-style: solid ;
  border-color: #888888;
  border-width: 0 0 2px 1px;


  /* Style the logo inside the navigation bar */
  a {
    float: left;
    display: block;

    padding: 14px 16px;
    text-decoration: none;

    color: aliceblue;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
  }
  /* Change the color of logo on hover */
  a:hover {
    background-color: firebrick;
  }

  /* Style the search box inside the navigation bar */
  input[type=text],
  input[type=search] {
    position: relative;
    margin : 0 auto;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    letter-spacing: 3px;
    border-radius: 50px;
    font-weight: 600;
  }

}

::placeholder {
  color: #000101c9;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text],
  .topnav input[type=search] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
