<div class="topnav" id="topnav">
  <a [routerLink]="['/']"> Pokedex</a>
  <input type="text" placeholder=" Search" (keyup.enter)="search($event.target.value.toLowerCase())">
</div>

<div class="horizontal-bar"></div>
