
      <div class="details">

        <h3 class="id-name"> <span class="span">#{{ pokemon?.id?.toString()?.padStart(3, '0') + ' ' + pokemon.name | titlecase}} </span></h3>

        <div class="stats" id="stats">
          <table class="stats1" >
            <tr> <th>Abilities:</th>
              <span> | </span>
              <span *ngFor="let item of abilities">
                {{  item + ' | ' | titlecase }}
              </span>
            </tr>
            <tr> <th>Types:</th>
              <span> | </span>
              <span *ngFor="let item of pokeTypes">
                {{  item + ' | ' | titlecase }}
              </span>
            </tr>
            <tr> <th>Height:</th> <td>{{ pokemon.height / 10 }} m</td> </tr>
            <tr> <th>Weight:</th> <td>{{ pokemon.weight / 10 }} Kg</td> </tr>
          </table>

          <img src="{{ imgUrl }}" alt="{{ pokemon.name | titlecase  }}" />

          <table class="stats2" *ngIf="pokemon.stats" >
            <tr> <th>{{ pokemon.stats[0].stat.name + ':' | titlecase }}</th> <td>{{ pokemon.stats[0].base_stat }}</td>
              <progress id="file" max="150" value="{{pokemon.stats[0].base_stat}}"> </progress>
            </tr>
            <tr> <th>{{ pokemon.stats[1].stat.name + ':' | titlecase }}</th> <td>{{ pokemon.stats[1].base_stat }}</td>
              <progress id="file" max="150" value="{{pokemon.stats[1].base_stat}}"> </progress>
            </tr>
            <tr> <th>{{ pokemon.stats[2].stat.name + ':' | titlecase }}</th> <td>{{ pokemon.stats[2].base_stat }}</td>
              <progress id="file" max="150" value="{{pokemon.stats[2].base_stat}}"> </progress>
            </tr>
            <tr> <th>{{ pokemon.stats[3].stat.name + ':' | titlecase }}</th> <td>{{ pokemon.stats[3].base_stat }}</td>
              <progress id="file" max="150" value="{{pokemon.stats[3].base_stat}}"> </progress>
            </tr>
            <tr> <th>{{ pokemon.stats[4].stat.name + ':' | titlecase }}</th> <td>{{ pokemon.stats[4].base_stat }}</td>
              <progress id="file" max="150" value="{{pokemon.stats[4].base_stat}}"> </progress>
            </tr>
            <tr> <th>{{ pokemon.stats[5].stat.name + ':' | titlecase }}</th> <td>{{ pokemon.stats[5].base_stat }}</td>
              <progress id="file" max="150" value="{{pokemon.stats[5].base_stat}}"> </progress>
            </tr>
          </table>
        </div>
        <div class="more-info" id="more-info">

            <div class="moves">
              <h4 >Moves: </h4>
              <span> | </span>
              <label *ngFor="let item of moves">
                {{ item + ' | ' | titlecase }}
              </label>
            </div>
            <br>

            <div class="versions">
              <h4 >Game versions: </h4>
              <span> | </span>
              <label *ngFor="let item of versions">
                {{ item + ' | ' | titlecase }}
              </label>
              <br><br>
            </div>

        </div>

      </div>
