.details {
  text-align: center;
  justify-content: center;
  min-width: 100%;
  h3, h4 {
    text-align: center;
    padding: 30px;
    font-size: 20px;
    margin: 0;
  }
  .id-name {
    font-size: 25px;
    background-color: #DBF0FF;
  }
  .stats {
    font-size: 20px;

    white-space: nowrap;
    display: flex;

    border-top: solid;
    border-bottom: solid;

    align-items: center;
    justify-content: center;

    .stats1 {
      text-align: left;
    }

    .stats2, .stats1 th {
      text-align: right;
    }

    .span {
      line-height: 1.6;
    }

    th {
      padding-right: 10px;
      line-height: 1.6;
    }
    td {
      padding-right: 10px;
    }


  }

  .more-info {
    border-bottom: solid 1px;

    .moves, .versions {
      text-align: center;
      margin: 0 auto;
      max-width: 70%;
      min-width: 50%;
      line-height: 1.6;
      font-size: 20px;
    }
  }
}
