  <div class="mural">

    <div *ngFor="let pok of pokeImgUrls, let i = index ">

      <div *ngIf="(i+1) % 2 == 1" class="rectangle-odd" [routerLink]="['details', i+1]">
        <img [src]="pok" alt="Pokemon-#{{ pokeImgUrls[i][56] + pokeImgUrls[i][57] + pokeImgUrls[i][58] }}">
        <p>#{{ pokeImgUrls[i][56] + pokeImgUrls[i][57] + pokeImgUrls[i][58] + ' ' + pokeNames[i] | titlecase }}</p>
      </div>

      <div *ngIf="(i+1) % 2 == 0" class="rectangle-even" [routerLink]="['details', i+1]">
        <img [src]="pok" alt="Pokemon-#{{ pokeImgUrls[i][56] + pokeImgUrls[i][57] + pokeImgUrls[i][58] }}">
        <p>#{{ pokeImgUrls[i][56] + pokeImgUrls[i][57] + pokeImgUrls[i][58] + ' ' + pokeNames[i] | titlecase }}</p>
      </div>

    </div>

  </div>




