img {
  width: 150px;
  height: 150px;
}

.mural{
  display: grid;
  background-color: #DBF0FF;

  grid-template-columns: repeat(8, 1fr);
    font-size: large;
    text-align: center;

  div:nth-child(16n + 1),
  div:nth-child(16n + 2),
  div:nth-child(16n + 3),
  div:nth-child(16n + 4),
  div:nth-child(16n + 5),
  div:nth-child(16n + 6),
  div:nth-child(16n + 7),
  div:nth-child(16n + 8){
    .rectangle-odd,
    .rectangle-even{
      background-color:#f6f6f6;
      border-radius: 5px;
      border-width: 3px;
    }
    background-color:#FEFFF3;

  }


  div:nth-child(16n + 9),
  div:nth-child(16n + 10),
  div:nth-child(16n + 11),
  div:nth-child(16n + 12),
  div:nth-child(16n + 13),
  div:nth-child(16n + 14),
  div:nth-child(16n + 15),
  div:nth-child(16n){
    margin: 0 0 150px 0;
    background-color:#FEFFF3;

    .rectangle-odd,
    .rectangle-even{
      border-width: 3px;
      border-radius: 5px;
      background-color:#f6f6f6;
    }
  }

  .rectangle-odd{
    width: 150px;
    height: 200px;

    margin: 0 0 0 0;
    // background: #e0e4b2;

    border-style: solid;
    border-width: 2px;
    box-shadow: 1px 2px #888888;
  }

  .rectangle-even{
    width: 150px;
    height: 200px;

    margin: 35px 0 0 0;
    // background: #e0e4b2;

    border-style: solid;
    border-width: 2px;
    box-shadow: 1px 2px #888888;
  }

}



