<div class="full">
  <h2>Oops! Pokemon not found!</h2>
  <img src="https://projectpokemon.org/home/uploads/monthly_2020_04/567051636_large.RTDXPortraitFaint.png.686a7c36c82ea0440c4b2fa7e01735cb.png" alt="pokemon-not-found">
</div>
